<h1>Trend365</h1>

<h2>Check Out Sentiment on NYT Articles</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde, omnis, hic officia ipsam veniam dolore ea molestias sequi animi accusantium ratione numquam mollitia voluptates error laudantium totam ex fuga!</p>