# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e4508dd3c8bc7e7eb11b82b12eeec879f666c3f1856319f9d101d7416ccee71e2260b85d8caf25ceb6757cf172b8a529b8df26d907e70d25c0376e8e281c3e21

test:
  secret_key_base: 3aff9368b00b558f592e4de5e2309326a99726c2508f0f7f66ca45ae42f181a0b26c09971bacd413af4902df8abe6c015203ebd4f64544ba77eb93e91f6e699a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
